{$API_DOMAIN} {
    encode zstd gzip

    header {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
    }

    handle /admin* {
        basic_auth {
            {$ADMIN_DASHBOARD_USERNAME} {$ADMIN_DASHBOARD_PASSWORD_HASH}
        }
        reverse_proxy admin-dashboard:3001
    }

    handle {
        reverse_proxy license-api:3000
    }
}
